@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bitblox";
  src: url("/fonts/Bitblox.otf");
}

@font-face {
  font-family: "Austral";
  src: url("/fonts/Austral.otf");
}

@font-face {
  font-family: "Ignite";
  src: url("/fonts/Ignite.otf");
}

@font-face {
  font-family: "Bebas";
  src: url("/fonts/BebasNeue.ttf");
}
@font-face {
  font-family: "Vcr";
  src: url("/fonts/Vcr.ttf");
}

@font-face {
  font-family: "Internal Rainbows";
  src: url("/fonts/InternalRainbows.otf");
}

@font-face {
  font-family: "DS Digital";
  font-weight: 400;
  src: url("/fonts/DSDigi.ttf");
}

@font-face {
  font-family: "Earls Revenge";
  font-weight: 400;
  src: url("/fonts/EarlsRevenge.ttf");
}

@font-face {
  font-family: "Gamer";
  src: url("/fonts/Gamer.ttf");
}

@font-face {
  font-family: "Network";
  src: url("/fonts/Network.ttf");
}

@font-face {
  font-family: "Dogica";
  src: url("/fonts/Dogica.ttf");
}

body {
  background-color: #111313;
}

body::-webkit-scrollbar {
  width: 0px;
  opacity: 0; /* Initially hide the scrollbar */
}

body:hover::-webkit-scrollbar {
  opacity: 0; /* Show the scrollbar on hover */
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

div::-webkit-scrollbar {
  width: 0px;
  opacity: 0; /* Initially hide the scrollbar */
}

div:hover::-webkit-scrollbar {
  opacity: 0; /* Show the scrollbar on hover */
}

div::-webkit-scrollbar-track {
  background-color: transparent;
}

div::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#feed {
  direction: rtl; /* Set direction to right-to-left to move scrollbar to the left */
  overflow-y: scroll;
}

#feedWrapper {
 
  direction: rtl; /* This will move the scrollbar to the 'start' of the container, which is now on the left */
}

#feed > * {
  direction: ltr; /* Reset the direction of the content inside to left-to-right */
}

#feed::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

#feed::-webkit-scrollbar-track {
  background-color: transparent; /* Make the track transparent */
  box-shadow: inset 0 0 0 10px #0090ff; /* Simulate padding with box shadow */
}


#feed::-webkit-scrollbar-thumb {
  background: linear-gradient(#f3f6f7, #f7f7f3, #f9e8fa, #f0ecf6, #f3f6f7); 

}

.searchTransition {
  animation: fadeMoveFade 3s forwards;
}

.fadeTiles {
  animation: fadeIn 3s ease-in-out;
}

#searchBar:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(87, 124, 246, 0.6);
}

@keyframes fadeMoveFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#borderSearch {
  background: linear-gradient(
    rgba(133, 174, 255, 0.6),
    rgba(122, 157, 228, 0.6),
    rgba(124, 148, 232, 0.6),
    rgba(106, 130, 250, 0.6),
    rgba(105, 125, 242, 0.6),
    rgba(87, 124, 246, 0.6),
    rgba(132, 174, 255, 0.6)
  );
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(87, 124, 246, 0.6);
}

input[type="number"]::-webkit-inner-spin-button:focus,
input[type="number"]::-webkit-outer-spin-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(87, 124, 246, 0.6);
}

#dropDown {
  background: linear-gradient(
    rgba(133, 174, 255, 0.6),
    rgba(122, 157, 228, 0.6),
    rgba(124, 148, 232, 0.6),
    rgba(106, 130, 250, 0.6),
    rgba(105, 125, 242, 0.6),
    rgba(87, 124, 246, 0.6),
    rgba(132, 174, 255, 0.6)
  );
}

#dropDown::-webkit-scrollbar {
  width: 6px;
  opacity: 0; /* Initially hide the scrollbar */
  transition: opacity 0.3s ease;
}

#dropDown:hover::-webkit-scrollbar {
  opacity: 1; /* Show the scrollbar on hover */
}

#dropDown::-webkit-scrollbar-track {
  background-color: black;
}

#dropDown::-webkit-scrollbar-thumb {
  background-color: rgba(106, 130, 250, 0.6);
}

#preroll {
  background: linear-gradient(#712af6, #7e07d6, #9806cf, #5a0ac7, #682af6);
}

#tiles {
  background: linear-gradient(#f3f6f7, #f7f7f3, #f9e8fa, #f0ecf6, #f3f6f7);
}

#prerollScroll::-webkit-scrollbar {
  width: 6px;
  opacity: 0; /* Initially hide the scrollbar */
  transition: opacity 0.3s ease;
}

#prerollScroll:hover::-webkit-scrollbar {
  opacity: 1; /* Show the scrollbar on hover */
}

#prerollScroll::-webkit-scrollbar-track {
  background-color: black;
}

#prerollScroll::-webkit-scrollbar-thumb {
  background-color: rgba(106, 130, 250, 0.6);
}

#results::-webkit-scrollbar {
  width: 6px;
  opacity: 0; /* Initially hide the scrollbar */
  transition: opacity 0.3s ease;
}

#results:hover::-webkit-scrollbar {
  opacity: 1; /* Show the scrollbar on hover */
}

#results::-webkit-scrollbar-track {
  background-color: black;
}

#results::-webkit-scrollbar-thumb {
  background-color: rgba(106, 130, 250, 0.6);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #111313 !important;
  color: white !important;
  font-family: "Bitblox" !important;
}

.leaflet-container a.leaflet-popup-close-button {
  color: white !important;
}

.leaflet-popup-tip {
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.leaflet-bar a {
  background-color: black !important;
  color: white !important;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

#pfp {
  background: linear-gradient(#fc9cf3, #b9d9ff, #0091ff, #fd99dc);
}

#success {
  background: linear-gradient(
    #fc9cf3,
    #0ac7ab,
    #0091ff,
    #9cceda,
    #fd99dc,
    #c5d6e1
  );
}

#smoke {
  background: linear-gradient(
    #9acce6,
    #537684,
    #45747e,
    #9cceda,
    #2f5566,
    #c5d6e1
  );
}

#mar {
  background: linear-gradient(
    #2abdf6,
    #078fd6,
    #06a9cf,
    #0ac7ab,
    #2f5566,
    #2abcf6
  );
}

#cart {
  transform: scale(1.1);
  animation: shake 0.5s ease;
}
@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    transform: translate(-10px, 0) rotate(-20deg);
  }
  30% {
    transform: translate(10px, 0) rotate(20deg);
  }
  50% {
    transform: translate(-10px, 0) rotate(-10deg);
  }
  60% {
    transform: translate(10px, 0) rotate(10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

#bar {
  background-image: url("https://chromadin.infura-ipfs.io/ipfs/QmeQ2sdjGXxUCQHCnK6kHU2c9Do3rjs557hU87jGorAvTs");
  background-size: cover;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(87, 124, 246, 0.6);
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(87, 124, 246, 0.6);
}

textarea::-webkit-inner-spin-button:focus,
textarea::-webkit-outer-spin-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(87, 124, 246, 0.6);
}




#milestone::-webkit-scrollbar {
  width: 3px;
  opacity: 1; /* Initially hide the scrollbar */
}

#milestone:hover::-webkit-scrollbar {
  opacity: 1; /* Show the scrollbar on hover */
}

#milestone::-webkit-scrollbar-track {
  background-color: #222222;
}

#milestone::-webkit-scrollbar-thumb {
  background-color: #d49e78;
}

#legend::-webkit-scrollbar {
  height: 3px;
  opacity: 1; /* Initially hide the scrollbar */
}

#legend:hover::-webkit-scrollbar {
  opacity: 1; /* Show the scrollbar on hover */
}

#legend::-webkit-scrollbar-track {
  background-color: #222222;
}

#legend::-webkit-scrollbar-thumb {
  background-color: #d49e78;
}

#noCode {
  background-image: linear-gradient(
    to bottom,
    #e3e1ee,
    #e3e1ee,
    #f7fff0,
    #89eff5,
    #23fefc,
    #2b90fd,
    #341cfe,
    #341cfe,
    #341cfe
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

#explainerBg {
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #1c24ff6a 1px, transparent 1px),
    linear-gradient(to bottom, #1c24ff6a 1px, transparent 1px);
  background-size: 20px 20px;
}

#staticLoad {
  background-image: repeating-radial-gradient(
    circle at 18% 36%,
    #d401f8,
    #f9ed00 1.8px
  );
  animation: back 10s linear infinite;
}

@keyframes back {
  from {
    background-size: 100% 100%;
  }
  to {
    background-size: 200% 200%;
  }
}

#mold {
  background: linear-gradient(
    rgba(243, 246, 247, 0.8),
    rgba(247, 247, 243, 0.8),
    rgba(249, 232, 250, 0.8),
    rgba(240, 236, 246, 0.8)
  );
}


#fadedQuote {
  -webkit-mask-image: linear-gradient(
    to bottom,
    #1f2937 0%,
    #1f2937 50%,
    transparent 95%
  );
  mask-image: linear-gradient(
    to bottom,
    to bottom,
    #1f2937 0%,
    #1f2937 50%,
    transparent 100%
  );
}


#videoplayer {
  background-image: url("https://chromadin.infura-ipfs.io/ipfs/QmekpQQEtQBP1M71SohCHiDRQbV1Sc2bKveVvwEfzAJCPx");
  background-color: black;
  background-position: center;
  background-size: cover;
}

#videoplayer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.2);
  filter: blur(5px);
}


input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: white;
  opacity: 80%;
  height: 0.3rem;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: white;
  opacity: 80%;
  height: 0.3rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #f62ada;
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
}

/***** Thumb Styles *****/
/***** Firefox *****/
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: #f62ada;
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
}


.close {
  position: relative;
  display: flex;
  justify-items: end;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  padding-bottom: 0.5rem;
}
